@import url('../sl/slick-default-theme.css');

* {
    font-family: arial;
    font-size: 8pt;
}

.grid-body {
    background: white;
    outline: 0;
    border: 1px solid gray;
    width:100%;
    height:500px;
}

.grid-header, .grid-footer {
	border: 1px solid gray;
	color: black;
	height: 32px;
	line-height: 24px;
    width:100%;
    background-color: #add8e6;
}

.grid-header label {
	display: inline-block;
	font-weight: bold;
    vertical-align: middle;
    font-size: 1.4em;
    margin-left: 1em;
}

.cell-type {
    background: url('images/files_folder_small.png') no-repeat center;
    
}
