* {
    font-family: arial;
    font-size: 8pt;
}

h2 {
    font-size: 10pt;
    border-bottom: 1px dotted gray;
}

#myGrid {
    background: white;
    outline: 0;
    border: 1px solid gray;
}

.grid-body {
    background: white;
    outline: 0;
    border: 1px solid gray;
    width: 100%;
    height: 500px;
}

.bc-grid-header, .grid-footer {
    border: 1px solid gray;
    color: black;
    height: 44px;
    line-height: 44px;
    width: 100%;
    background-color: silver    ;
    vertical-align: middle;
}

.bc-grid-header label {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.4em;
    margin-left: 1em;
}

.cell-type {
    background: url('images/files_folder_small.png') no-repeat center;

}

#toolbar {
    padding: 8px 8px;
}

.ui-button-text {
    font-size: 0.68em;
}