body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background-image: url("ui-bg_glass_75_f0f2f4_1x400.png");
}

.ui-widget-content,
.ui-widget-content a {
    color: #333333;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: 6px 364px 0 0;
    margin: 4px 0 0 -102px;
    line-height: 1.5;
    border-top: solid #a3a3a3 1px;
    text-align: right;
    height: 0px;
}

.ui-menu { 
    width: 100px; 
    position: absolute; 
    margin-right:0;
    border-radius: 4px 0px 0px 4px;
}

.ui-ls-autocomplete-first {
    border: none;
}

#ui-menu-1 {
    width: 350px;
    padding-left: 104px;
    background: #ffffff url(livesearch_bg.gif) repeat-y top left;
    font-size: .7em;
    border-color: #a3a3a3;
}


.bc-header {
    background-color: #ADD8E6;
    border-bottom: solid #999999 1px;
    padding: 0.5em;
}

.ui-widget {
    font-size: 1.2em;
}

.bc-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6em;
}

.bc-header-toolbox {
    float: right;
    font-size: 10px;
}

.bc-header-toolbox .ui-ls-menu {
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-color: #cecece;
}

.bc-header-toolbox .ui-ls-autocomplete {
    border-width: 1px 0;
    border-color: #cecece;
    border-style: solid;
    *line-height: 14px;
    padding: 0;
    margin: 0 -3px 0 0;
}

.bc-header-toolbox .ui-ls-gobtn {
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-color: #cecece;
}

.bc-content-frame {
    margin: 2em;
}

.ui-menu .ui-menu-item a {
    border: 1px solid #ffffff;
}

.ui-menu .ui-menu-item a:hover,
.ui-menu .ui-menu-item a.ui-state-hover {
    margin: 0;
    border: 1px solid #999999;
    background: #e1e1e1 url('../images/ui-bg_glass_75_dadada_1x400.png') repeat-x scroll 50% 50%;
}

.ui-ls-profile img {
    float: left; 
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

.ui-ls-profilelabel {
    display: inline-block;
    width: 250px;
}

.ui-ls-category-text {
    position: absolute;
    left: 0;
    width: 91px;
}

.ui-ls-more {
    color: #999999;
    display: block;
    position: absolute;
    width: 91px;
    margin-top: 15px;
    left: 0;
}

.ui-ls-more:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sras-searchresult {
    margin-bottom: 1em;
}

.sras-searchfooterlinks {
    color: gray;
    font-weight: 200;
}

.sras-searchknobs a {
    text-decoration: none;
    color: blue;
}

.sras-searchknobs p {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.sras-searchknobgroup {
    border-bottom: solid gray 1px; 
    padding-bottom: 1em;
    padding-top: 1em;
}

.sras-searchknobs a:visited {
    color: blue;
}