body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.ui-ls-menu {
    margin-right: 10px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: 6px 364px 0 0;
    margin: 4px 0 0 -102px;
    line-height: 1.5;
    border-top: solid #999999 1px;
    text-align: right;
    height: 0px;
}

.ui-menu { 
    width: 100px; 
    position: absolute; 
    margin-right:0;
    border-radius: 4px 0px 0px 4px;
}

.ui-ls-autocomplete {
    padding: 0;
    margin: 0 -10px 0 0;
    border: solid 1px #eeeeee;
}

.ui-ls-autocomplete-first {
    border: none;
}

#ui-menu-1 {
    width: 350px;
    padding-left: 104px;
    background: #ffffff url(livesearch_bg.gif) repeat-y top left;
    font-size: .7em;
}

.ui-ls-gobtn {
    border-radius: 0px 4px 4px 0px;
}


.bc-header {
    background-color: #ADD8E6;
    border-bottom: solid #999999 1px;
    padding: 0.5em;
}

.ui-widget {
    font-size: 1.2em;
}

.bc-header h1 {
    margin-top: 0;
}

.bc-header-toolbox {
    float: right;
    font-size: 10px;
}

.bc-content-frame {
    margin: 2em;
}

.ui-menu .ui-menu-item a {
    border: 1px solid #ffffff;
}

.ui-menu .ui-menu-item a:hover {
    margin: 0;
    border: 1px solid #999999;
    background: #e1e1e1 url('../images/ui-bg_glass_75_dadada_1x400.png') repeat-x scroll 50% 50%;
}

.ui-ls-profile img {
    float: left; 
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

.ui-ls-profilelabel {
    display: inline-block;
    width: 250px;
}

.ui-ls-category-text {
    position: absolute;
    left: 0;
    width: 91px;
}

.ui-ls-more {
    color: #999999;
    display: block;
    position: absolute;
    width: 91px;
    margin-top: 15px;
    left: 0;
}

.ui-ls-more:hover {
    cursor: pointer;
    text-decoration: underline;
}
