<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<title>layout 1</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="css/layout1.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="bc-container">
		<div id="bc-header" class="bc-wrapper">
			<div class="bc-header-identity-wrapper">
				<div id="bc-logo">
					LOGO
				</div>
				<div id="bc-sitetitle">
					SITETITLE
				</div>
			</div>
			<div class="bc-header-panels-wrapper">
				<div id="bc-userpanel">
					USERPANEL
				</div>
				<div id="bc-sitepanel">
					SITEPANEL
				</div>
			</div>
		</div>
		<div id="bc-navbar" class="bc-wrapper">
			<div id="bc-breadcrumbs">
				BREADCRUMBS
			</div>
			<div class="bc-navbar-links-wrapper">
				<div id="bc-subsitelinks">
					SUBSITELINKS
				</div>
				<div id="bc-sitelinks">
					SITELINKS
				</div>
			</div>
		</div>
		<div class="bc-wrapper">
			<div id="bc-content">
				CONTENT
			</div>
			<div id="bc-sidebar">
				SIDEBAR
			</div>
		</div>
		<div id="bc-footer" class="bc-wrapper">
			FOOTER
		</div>
	</div>
</body>
</html>